<section>
    <div class="header">Header</div>
    <form action="">
<div class="headline">
    <button><img src="./img/goback.svg" alt=""></button>
    <span>Firma anlegen</span>
</div>

<div class="inputfields">
    <input type="text" name="name" id="name" placeholder="Firmenname">
    <input type="text" name="street" id="street" placeholder="Straße">
    <input type="text" name="place" id="place" placeholder="Ort">
    <input type="text" name="areacode" id="areacode" placeholder="Postleitzahl">
    <input type="email" name="email" id="email" placeholder="E-Mail-Adresse">
</div>

<button class="createBtn">Firma erstellen</button>
    </form>
</section>
