section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px 20px;
    //  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.128);
    border-bottom: solid 2px var(--back);
}

.sidebarBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;

    >button {
        >img {
            width: 30px;
            height: 30px;
        }

    }
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;


    >span {
        font-size: 20px;
        font-weight: 400;
    }

    >img {
        width: 40px;
    }
}

.menubar {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
    gap: 32px;
}

// .date {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     gap: 20px;

//     padding: 10px 30px;
//     border-radius: 30px;


//     box-sizing: border-box;
// }

.currentUser {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    box-sizing: border-box;
    padding: 10px 30px;
    transition: transform 0.2s ease-in-out;

    cursor: pointer;

    >span {
        font-size: 24px;
        font-weight: 300px;
    }

    &:hover {
        background-color: rgba(255, 255, 255, 0.446);
        border-radius: 50px;

        >.initials {
            border-color: black;
        }
    }

    &:active {
        transform: scale(0.95);
    }
}

.initials {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--blue3);
    color: white;


    >span {
        font-size: 16px;
        font-weight: 300;
    }
}