<section>

    <div class="name">
        <div class="customerLogo">
            <img src="./icons/building.svg" alt="">
        </div>

        <h2>{{customer?.name}}</h2>

    </div>
    <p class="branch">{{customer?.branch}}</p>

    <div class="mainContactContent">
        <h3 *ngIf="sharedservice.isNewContact">Neuer Kontakt</h3>
        <div class="closeBtn">

            <!-- <h3 *ngIf="!sharedservice.isNewContact">Kontaktdaten</h3> -->
            <!-- <button *ngIf="!sharedservice.isNewContact && !isEdit" class="icons" (click)="closeSingleContact()"><img
                    src="./icons/close.svg" alt=""></button> -->
        </div>
        <div class="headlineContainer">
            <div class="profileImage">
                <img src="./icons/profile.svg " alt="">

            </div>
            <input class="name" type="text" placeholder="Name" [ngClass]="{'inputActivated': isEdit}"
                [(ngModel)]="contact.name" [disabled]="!isEdit">
        </div>
        <input type="text" placeholder="Funktion" [ngClass]="{'inputActivated': isEdit}" [(ngModel)]="contact.function"
            [disabled]="!isEdit">

        <div class="contactDataContainer">
            <h3>Kontaktdaten</h3>
            <div class="contactData">
                <img src="./icons/phone.svg" alt="">
                <input type="text" placeholder="Telefon" [ngClass]="{'inputActivated': isEdit}"
                    [(ngModel)]="contact.phone" [disabled]="!isEdit">
            </div>
            <div class="contactData">
                <img src="../icons/email.svg" alt="">
                <input type="text" placeholder="E-Mail" [ngClass]="{'inputActivated': isEdit}"
                    [(ngModel)]="contact.email" [disabled]="!isEdit">
            </div>

        </div>


        <div class="notesContainer">
            <h3>Notizen</h3>
            <textarea name="" id="" (change)="saveContactData()" [(ngModel)]="contact.notes"></textarea>
        </div>

        <div class="mainContactContainer">
            <div class="checkbox" (click)="toggleMainContact()">
                <img *ngIf="(isMain && sharedservice.isNewContact) || contact.isMainContact===true"
                    src="./icons/save.svg" alt="">
            </div>
            <span>Hauptkontakt</span>
        </div>

        <!-- <div class="btnContainer">
            <button class="btn" (click)="addContact()">Speichern</button>
        </div> -->
    </div>



    <div class="editBtn" *ngIf="sharedservice.customerTemplate==='singleContact'">

        <div (click)="setContactEdit(true)" *ngIf="!isEdit" class="icons">
            <img src="./icons/edit.svg" alt="">
        </div>
        <button (click)="saveContactData()" *ngIf="isEdit" class="icons">
            <img src="./icons/save.svg" alt="">
        </button>
        <div (click)="closeEditMode()" *ngIf="isEdit" class="icons">
            <img src="./icons/close.svg" alt="">
        </div>
        <!-- <div *ngIf="isEdit && sharedservice.isNewCustomer" class="icons">
            <img (click)="quitAddCustomer()" src="./icons/close.svg" alt="">
        </div> -->
        <div *ngIf="!isEdit" class="icons" (click)="deleteContact()">
            <img src="./icons/trash.svg" alt="">
        </div>

    </div>
</section>
