<section>
        <!-- <div class="closeBtn" >
            <button *ngIf="!sharedservice.isNewContact" class="icons" (click)="closeSingleContact()"><img
                    src="./icons/close.svg" alt=""></button>
        </div> -->
    <div class="mainContactContent">

    <div class="menubar">
        <div class="tabs">

            <button [disabled]="sharedservice.isNewCustomer">Aktivitäten</button>
          
        </div>
        <p>{{contact?.name}}</p>
        <div class="depiction" *ngIf="sharedservice.customerTemplate!=='details'">
            <div class="icons" (click)="sharedservice.changeDepiction('list')">
                <img src="./icons/list.svg" alt="">
            </div>
            <div class="icons" (click)="sharedservice.changeDepiction('cards')">
                <img src="./icons/cards.svg" alt="">
            </div>
        </div>

    </div>

    </div> 
</section>