section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.mainContactContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-top: solid;
    padding-top: 24px;
}

.closeBtn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    >button {
        >img {
            width: 16px;
        }
    }
}

.headlineContainer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.profileImage {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: var(--back);

    >img {
        width: 50px;
    }
}

.name{
    font-size: 24px;
}

.contactDataContainer {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.contactData {
    display: flex;
    align-items: center;
    gap: 12px;

    >img {
        width: 14px;
    }
}

.mainContactContainer {
    width: 100%;

    display: flex;
    gap: 16px;
    align-items: center;

    .checkbox {
        border: solid 1px var(--dark);
        border-radius: 3px;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        >img {
            width: 14px;
        }
    }
}

.editBtn {
    display: flex;
    justify-content: flex-end;

}

input {
    min-width: fit-content;
    max-width: fit-content;
    height: 20px;
    border: none;
    padding-left: 0;
    transition: background-color 0.5s ease-in-out;
    color: var(--font);
}

.inputActivated {
    height: 30px;
    font-size: 14px !important;
    padding-left: 12px;
    background-color: var(--edit);
    color: var(--font) !important;
}

.textFieldActivated {
    font-size: 14px !important;
    padding-left: 12px;
    background-color: var(--edit);
    color: var(--font) !important;
}