<section>

    <div class="mainContactContent">
        <div class="closeBtn">
            <button class="icons" (click)="closeSingleContact()"><img src="./icons/close.svg" alt=""></button>
        </div>
        <h3 *ngIf="sharedservice.isNewContact">Neuer Kontakt</h3>
        <h3 *ngIf="!sharedservice.isNewContact">Kontaktdaten</h3>
        <input type="text" placeholder="Name" [ngClass]="{'inputActivated': isEdit}" [(ngModel)]="contact.name"
            [disabled]="!isEdit">
        <input type="text" placeholder="Telefon" [ngClass]="{'inputActivated': isEdit}" [(ngModel)]="contact.phone"
            [disabled]="!isEdit">
        <input type="text" placeholder="E-Mail" [ngClass]="{'inputActivated': isEdit}" [(ngModel)]="contact.email"
            [disabled]="!isEdit">
        <input type="text" placeholder="Funktion" [ngClass]="{'inputActivated': isEdit}" [(ngModel)]="contact.function"
            [disabled]="!isEdit">
        <div class="mainContactContainer">
            <div class="checkbox" (click)="toggleMainContact()">
                <img *ngIf="(isMain && sharedservice.isNewContact) || contact.isMainContact===true"
                    src="./icons/save.svg" alt="">
            </div>
            <span>Hauptkontakt</span>
        </div>
        <!-- <div class="btnContainer">
            <button class="btn" (click)="addContact()">Speichern</button>
        </div> -->
    </div>



    <div class="editBtn" *ngIf="sharedservice.customerTemplate==='singleContact'">

        <div (click)="toggleEdit(true)" *ngIf="!isEdit" class="icons">
            <img src="./icons/edit.svg" alt="">
        </div>
        <button (click)="saveContactData()" *ngIf="isEdit" class="icons">
            <img src="./icons/save.svg" alt="">
        </button>
        <div (click)="closeEditMode()" *ngIf="isEdit" class="icons">
            <img src="./icons/close.svg" alt="">
        </div>
        <!-- <div *ngIf="isEdit && sharedservice.isNewCustomer" class="icons">
            <img (click)="quitAddCustomer()" src="./icons/close.svg" alt="">
        </div> -->
        <div *ngIf="!isEdit" class="icons" (click)="deleteContact()">
            <img src="./icons/trash.svg" alt="">
        </div>

    </div>
</section>