<section>
    <div class="btnContainer">
        <button class="exitBtn"
            (click)="sharedservice.changeComponents('customers'); changeTemplate('dashboard');resetCuntomer()"><img
                src="./icons/close.svg" alt=""></button>
    </div>
    <div class="dataContainer" [ngClass]="{'activeInputs': isEdit}">
        <input type="text" class="bold" [(ngModel)]="customer.name" disabled="">
        <div class="customerData" [ngClass]="{'activeInputs': isEdit}">
            <div class="adress">

                <input type="text" [(ngModel)]="customer.street" disabled="">
                <input type="text" [(ngModel)]="customer.areacode" disabled="">
                <input type="text" [(ngModel)]="customer.city" disabled="">
            </div>

            <div class="contactData">
                <div>
                    <span>Tel:</span>
                    <input type="text" [(ngModel)]="customer.phone" disabled="">
                </div>
                <div>
                    <span>E-Mail:</span>
                    <input type="text" [(ngModel)]="customer.email" disabled="">
                </div>

            </div>

        </div>
        <div class="editBtnContainer">
            <button *ngIf="!isEdit" class="editBtn" (click)="toggleActivateEdit()"><img src="./icons/edit.svg"
                    alt=""></button>
            <button *ngIf="isEdit" class="editBtn" (click)="toggleActivateEdit()"><img src="./icons/close.svg"
                    alt=""></button>
            <button *ngIf="isEdit" class="editBtn" (click)="saveEdit()"><img src="./icons/save.svg" alt=""></button>
        </div>
    </div>

    <div class="menubar">
        <button class="btn" (click)="changeTemplate('dashboard')">Dashbaord</button>
        <button class="btn" (click)="changeTemplate('contacts')">Kontakte</button>

    </div>
    <!-- Dashboard -->
    <div *ngIf="customerTemplate==='dashboard'" class="costumerDashboard">
        customerDashboard
    </div>

    <!-- Contacts -->
    <app-contacts *ngIf="customerTemplate==='contacts'"></app-contacts>



</section>