<section>
    <div class="loginHeader">
        <div class="logo">
            <img src="./img/mapleIcon-bg.png" alt="">
            <span>maple CRM</span>
        </div>
    </div>


    <form (ngSubmit)="login()" #userauth="ngForm" >
        <div class="headline">
            <span>Anmeldung</span>
        </div>
        <div class="inputContainer">
            <div class="inputfield">
                <div>
                    <img src="./img/mail.svg" alt="">
                    <input #email="ngModel" [(ngModel)]="user.email" name="email" id="email" type="text" placeholder="E-Mail eingeben" required  pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
                  
                </div>
                @if(email.touched && !email.valid){
                    <span class="error">Bitte E-Mail-Adresse eingeben</span>
                }
            </div>
            <div class="inputfield">
                <div>
                    <img src="./img/lock.svg" alt="">
                    <input #password="ngModel" [(ngModel)]="user.password" name="password" id="password" type="password" placeholder="Passwort eingeben" required>
               
                </div>
                @if(password.touched && !password.valid){
                    <span class="error">Bitte Passwort eingeben</span>
                }
            </div>
         
            <div></div>
        </div>
        <button [disabled]="userauth.invalid" class="btn">Anmelden</button>
    </form>

    <div class="footerContainer">
        <app-footer></app-footer>
    </div>
</section>