section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    gap: 56px;
}

.customerInfo {
    display: flex;
    flex-direction: column;
    font-size: 14px;

    .name {
        font-size: 20px;
        font-weight: 600;
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 32px;

        >h2 {
            margin: 0;
        }

        .customerLogo {
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
             background-color: var(--dark);
             border-radius: 100px;
            >img {
                width: 25px;
                height: 25px;
               
                padding: 0px;
               
            }
        }

    }

    .location {
        display: flex;
        gap: 8px;

    }

    .contactInfos {
        margin-block: 16px 32px;

        display: flex;
        flex-direction: column;
        gap: 4px;

        .infoContainer {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 16px;

            >img {
                width: 14px;
            }
        }
    }

.actionBar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .actionBtn{
        width: 40px;
        height: 40px;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--main);
        
        >img{
            width: 20px;
        }
    }

    .employeeInfos {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;

        .infoContainer {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 16px;

            // box-shadow: 3px 3px 6px 2px rgba(0, 0, 0, 0.08);
            border-radius: 5px;

            >h3 {
                border-bottom: solid 1.5px var(--main);
                font-size: 15px;
            }

            .employee {
                width: 100%;
                display: flex;

                align-items: flex-start;
                gap: 16px;

                .contactData {
                    display: flex;
                    flex-direction: column;
                    gap: 4px;

                    >h4 {
                        margin-bottom: 4px;

                    }

                    .contactDataContainer {
                        display: flex;
                        align-items: center;
                        gap: 12px;



                        >img {
                            width: 14px;
                        }

                        >a {
                            color: black;
                            font-size: 14px;
                        }
                    }

                    >p {
                        margin-bottom: 4px;
                    }


                }

                >img {
                    width: 30px;
                    background-color: var(--border-color);
                    border-radius: 100px;
                    padding: 8px;
                }
            }

        }

    }


}




.inputfields {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    gap: 16px;

    >input {
        width: 100%;
        border: solid 1px var(--main);
        border-radius: 5px;
        padding-left: 12px;

        &::placeholder {
            font-size: 12px;
        }
    }

    .btnContainer {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
}

.sidebarMenu {

    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: absolute;
    right: 24px;
    bottom: 24px;
    gap: 24px;

    >img {
        width: 20px;
    }
}

.activeInputs {
    input {
        background-color: var(--main);
    }

}

.editCustomer {
    display: flex;
    flex-direction: column;
    gap: 16px;

    >input,
    .dropdown {
        width: 100%;
        border: solid var(--main);
        border-radius: 5px;
        padding: 8px;
        font-size: 14px;
    }


}

.usersList {
    width: 100%;
    height: 100%;
}