<section>
    <div class="companyInfo">
        <h1 *ngIf="sharedservice.component==='customers' || sharedservice.component==='customer'">Kunden</h1>
        <!-- <span>{{currentUser?.companyName}}</span> -->
        <h1 *ngIf="sharedservice.component==='tasks'">Aufgaben</h1>

    </div>

    <div class="sidebarCompnents">
        <app-customerssidebar *ngIf="sharedservice.component==='customers'"></app-customerssidebar>
        <app-singlecustomersidebar *ngIf="sharedservice.component==='customer'"></app-singlecustomersidebar>
        <app-userslist *ngIf="sharedservice.userListOpen"></app-userslist>
    </div>



</section>