<section>
    <div class="information">
        <div class="companyInfo">
            <!-- <p>Organisation:</p> -->
            <span>{{currentUser?.companyName}}</span>
            <!-- <div class="divider"></div> -->
        </div>




        <div class="links">
            <a (click)="sharedservice.changeComponents('dashboard')">Dashboard</a>
            <a (click)="sharedservice.changeComponents('tasks')">Aufgaben</a>
            <a (click)="sharedservice.changeComponents('customers')">Kunden</a>
            <a (click)="sharedservice.changeComponents('mailbox')">Postfach</a>
            <a *ngIf="userservice.isAdmin" (click)="sharedservice.changeComponents('admin')" class="">Adminbereich</a>
            <a *ngIf="userservice.isSuperAdmin" (click)="sharedservice.navigateToPath('/company')"
                class="">Superadmin</a>
        </div>

        <div class="legal">
            <button>Impressum</button>
            <button>Datenschutz</button>

        </div>
    </div>
</section>