<section>
    <div class="text" *ngIf="sharedservice.toDelete==='customer'">
        <p>Wollen Sie den Kunden</p>
        <h2>{{customer?.name}}</h2>
        <p>wirklich löschen?</p>
    </div>

    <div class="text" *ngIf="sharedservice.toDelete==='contact'">
        <p>Wollen Sie den Kontakt</p>
        <h2>{{contact?.name}}</h2>
        <p>wirklich löschen?</p>
    </div>

    <div class="btnContainer">
        <button (click)="quitDelete()" class="btn">Abbrechen</button>
        <button *ngIf="sharedservice.toDelete==='customer'" (click)="deleteCustomerData()" class="btn">Kunde löschen</button>
        <button *ngIf="sharedservice.toDelete==='contact'" (click)="deleteContact()" class="btn">Kontakt löschen</button>
    </div>

</section>