/* You can add global styles to this file, and also import other style files */
@font-face {
    font-display: swap;
    font-family: 'Nunito';
    src: url('/fonts/Nunito-VariableFont_wght.ttf');
}

body {
    margin: 0;
    font-family: 'Nunito';
}

button {
    background-color: transparent;
    border: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &:active {
        transform: scale(0.95);
    }
}

input {
    background-color: transparent;
    border: none;


}

a{
    text-decoration: none;
    cursor: pointer;
}

p{
    margin: 0;
}

.btn {
    min-width: 160px;
    max-width: fit-content;
    height: 56px;
    background-color: var(--blue1) !important;
    box-sizing: border-box;
    padding: 12px 25px;
    border-radius: 50px;
    color: white;
    font-size: 18px;
}

input:focus {
    outline: none;
    box-shadow: none;
}

input:focus::placeholder {
    opacity: 0;
}


input:-webkit-autofill:focus {
    background-color: transparent !important;
    color: white !important;
}

input:-webkit-autofill {
    background-color: transparent !important;
    color: white !important;
    transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
}

.headerContainer {
    width: 100%;
    height: 120px;
    box-sizing: border-box;
    padding: 20px 60px;
}

.footerContainer {
    width: 100%;
    height: 120px;
    box-sizing: border-box;
    padding: 20px 60px;
}

.header {
    position: absolute;
    top: 0;
    left: 0;

}

.error {
    position: absolute;
    bottom: -15px;
    left: 20px;
    height: 14px;
    font-size: 14px;
    color: var(--error);
}

:root {

    --border-color: rgba(21, 141, 226, 0.492);
    --blue1: rgb(6, 125, 244);
    --error: rgb(149, 5, 5);
    --font-color: rgb(97, 93, 93);
    --blue2: rgb(0, 123, 255);
}