<section>
    <div class="menuBar">
        <button class="btn">
            <img src="./icons/filter_white.svg" alt="">
        </button>


        <div class="searchContainer">
            <div class="filterContainer">
                <div class="searchFilter" (click)="openFilter()">
                    <img [ngClass]="{'rotate': !searchFilterOpen}" src="./icons/dropdown.svg" alt="">
                    <p>{{currentSearchFilter?.displayName}}</p>
                </div>
                <div *ngIf="searchFilterOpen" class="searchOptions">
                    <div *ngFor="let filter of customerFields; let index = index">
                        <p (click)="changeSearchFitler(index); openFilter()">{{filter.displayName}}</p>
                    </div>
                </div>

            </div>


            <div class="inputfield">

                <div>


                    <input (input)="searchCustomer()" [(ngModel)]="searchValue" type="text" name="" id="">
                    <img src="./icons/search.svg" alt="">
                </div>
            </div>

        </div>
        <!-- <button class="btn" (click)="sharedservice.changeComponents('create')">Kunde anlegen</button> -->

    </div>


    <!-- <div class="listInfos">
        <div class="CustomerCount">
            <span>Anzahl der Kunden:</span>
            <p>{{customers.length}}</p>
        </div>
    </div> -->


    <div class="customerListContainer">
        <div class="customer listHeadline">
            <p *ngFor="let headline of customerFields; let index = index" (click)="sortList(headline.fieldName, index)">
                <img class="dropdownIcon"
                    [ngClass]="{'rotateUp': activeSortIndex===index && isSortUp, 'rotateDown': activeSortIndex===index && !isSortUp}"
                    src="./icons/dropdown.svg" alt="">
                <span>{{getDisplayName(headline.fieldName)}}</span>
            </p>

        </div>
        <div *ngIf="isloading">
            <p>Kundendaten werden geladen...</p>
        </div>
        <div *ngIf="!isFound && isSearch">
            <p>Keine Kunden gefunden</p>
        </div>

        <div class="" *ngFor="let customer of customers; let index = index">
            <div [ngClass]="{'bg-color' : isBackground(index)}" class="customer">
                <p (click)="openCustomerProfile(index)" *ngFor="let field of customerFields">{{customer[field.fieldName]}}</p>
               
            </div>
        </div>

    </div>

</section>