section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
}

.menuBar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 56px;
}